@import "tailwindcss";

:root {
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-naranja: #ff6e06;
  --bg-verde-isla: #129e00;
  --bg-carbon-oscuro: #323031;
  --bg-turquesa: #177e89;
  --bg-gris-oscuro: #696969;
}
